.category-container {
  padding: 20px;
}

.category-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--background-main); /* Dùng màu đỏ hồng làm tiêu đề */
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
}

.category-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-radius: 12px;
  background-color: #fff;
  border: 1px solid #ffebee; /* Viền hồng nhạt */
  cursor: pointer;
  transition: all 0.3s ease;
}

.category-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  border-color: var(--background-main); /* Đổi màu viền khi hover */
}

.category-info {
  display: flex;
  align-items: center;
  gap: 12px;
}
.category-icon {
  font-size: 1.3rem;
  color: var(--background-main);
}
.category-icon>img{
  width: 100%;
  max-width: 25px;
}

.category-name {
  font-weight: 500;
  color: #333;
}

.category-count {
  background-color: var(--background-main);
  color: #fff;
  padding: 2px 10px;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  min-width: 30px;
  text-align: center;
}