.di-wrapper {
  position: fixed;
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10000;
  pointer-events: none; /* Không cản trở việc click vào app bên dưới */
}

.di-island {
  background-color: var(--background-main); /* Nền đen chuẩn Apple */
  display: flex;
  align-items: center;
  height: fit-content;
  transition: all 0.6s cubic-bezier(0.18, 0.89, 0.32, 1.2);
  box-shadow: 0px 0px 12px 0px gray;
  /* overflow: hidden; */
}

.di-hidden {
  width: 0;
  height: 0;
  opacity: 0;
  border-radius: 50%;
  transform: scale(0.5);
}

.di-active {
  width: auto;
  min-width: 220px;
  max-width: 380px;
  height: 55px;
  padding: 0 20px;
  border-radius: 28px;
  opacity: 1;
  transform: scale(1);
  box-shadow: 0 8px 25px rgba(247, 23, 90, 0.25);
}

.di-content {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
}

.di-icon-bg {
  background: #f7175a; /* Màu hồng làm nền icon */
  width: 32px;
  height: 32px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.di-text-stack {
  display: flex;
  flex-direction: column;
}

.di-title {
  color: #f7175a; /* Title màu hồng */
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 800;
  margin: 0;
}

.di-text {
  color: #fff;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  white-space: wrap;
}