.indentifi-position:hover .account-modal{
    display: block;
}
.account-modal{
    position: absolute;
    width: 200px;
    height: fit-content;
    background-color: #fff;
    top: 100%;
    right: -40%;
    box-shadow: 0px 0px 12px 0px var(--background-main);
    padding: 5px 10px;
    border-radius: 10px;
    display: none;
    animation: slideInRight 0.3s ease-out forwards;
    .account-item{
        padding: 10px;
        position: relative;
        *{
            color: black;
        }
        *:hover{
            color: var(--background-main)
        }
    }
}

.menu-item-popup{
    width: 20vw;
    position: absolute;
    bottom: -100px;
    min-height: 100px;
    background-color: #fff;
    box-shadow: 0px 0px 12px 0px rgb(194, 193, 193);
    border-radius: 10px;
    display: none;
    .menu-item-popup-title{
        font-size: 1.2rem;
        font-weight: bold;
    }
    .menu-item-popup-body{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 5px;
        .menu-item-popup-body-item{
            display: flex;
            border-bottom: 1px solid grey;
            padding: 10px;
            &:hover{
                background-color: var(--background-main-hover);
            }
            // &:first-child{
            //     border-bottom: none;
            // }
            // &:last-child{
            //     border-top: none;
            // }
            .menu-item-popup-body-item-title{
                width: 60%;
            }
            .menu-item-popup-body-item-value{
                flex: 1;
                .bi-toggle-on{
                    color: var(--background-main);
                }
            }
        }
    }
}
a:hover .menu-item-popup{
    display: block;
}
@keyframes slideInRight {
  0% {
    /* Xuất phát từ ngoài màn hình bên phải */
    transform: translateX(100%); 
    opacity: 0;
  }
  100% {
    /* Dừng lại ở vị trí ban đầu (right: 20px) */
    transform: translateX(0);
    opacity: 1;
  }
}

@media (max-width: 768px) {
.menu-item-popup{
    width: 60vw;
    right: -60px;
    font-size: .8rem;
}
}