.indentifi-position:hover .account-modal{
    display: block;
}
.account-modal{
    position: absolute;
    width: 200px;
    height: fit-content;
    background-color: #fff;
    top: 100%;
    right: -40%;
    box-shadow: 0px 0px 12px 0px var(--background-main);
    padding: 5px 10px;
    border-radius: 10px;
    display: none;
    animation: slideInRight 0.3s ease-out forwards;
    .account-item{
        padding: 10px;
        position: relative;
        *{
            color: black;
        }
        *:hover{
            color: var(--background-main)
        }
    }
}
@keyframes slideInRight {
  0% {
    /* Xuất phát từ ngoài màn hình bên phải */
    transform: translateX(100%); 
    opacity: 0;
  }
  100% {
    /* Dừng lại ở vị trí ban đầu (right: 20px) */
    transform: translateX(0);
    opacity: 1;
  }
}