.manage-box{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    // overflow: hidden;
    // overflow-y: auto;
    position: relative;
    .manage-box-title{
        font-weight: bold;
        font-size: 2.5rem;
    }
    .manage-box-filter{
        width: 80%;
        height: auto;
        padding: 10px;
        box-shadow: 0px 0px 12px 0px rgb(236, 236, 236);
        border-radius: 10px;
        .manage-box-filter-control{
        width: 100%;
        gap: 10px;
        .manage-box-filter-control-item{
            width: 100%;
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;
            box-shadow: 0px 0px 5px 0px var(--background-main-hover);
            border-radius: 5px;
            // padding: 10px 2px;
            &:last-child{
                box-shadow: none;
            }
            .manage-box-filter-control-item-title{
                width: 10%;
            }
            .manage-box-filter-control-item-input{
                border: 1px solid rgb(204, 201, 201);
                flex: 1;
                padding: 10px 2px;
                &>input{
                    outline: none;
                    border: none;
                    width: 100%;
                    padding: 0px 10px;
                    box-sizing: border-box;
                    line-height: 100%;
                    color: var(--background-main);
                }
            }
            .btn-submit{
                background-color: var(--background-main);
                color: white;
                padding: 5px 20px;
                border: none;
                outline: none;
                border-radius: 5px;
                &:hover{
                    box-shadow: 0px 0px 5px 0px rgb(206, 205, 205);
                    cursor: pointer;
                }
            }
        }
    }
    }
    .manage-box-content{
        width: 99%;
        box-shadow: 0px 0px 12px 0px rgb(228, 228, 228);
        margin-top: 10px;
        border-radius: 10px;
        position: relative;
        .manage-box-content-modal{
            position: absolute;
            max-width: 40%;
            display: flex;
            gap: 5px;
            top: 10px;
            right: 0;
            padding: 0px 10px;
            transition: all .3s linear;
            .manage-box-content-modal-item{
                width: fit-content;
                padding: 0px 10px;
                border: 1px solid var(--background-main);
                border-radius: 999px;
                cursor: pointer;
                transition: all .3s linear;
                &:hover{
                    color: var(--background-main);
                }
            }
        }
    }
    .manage-box-paging{
        width: 50%;
        display: flex;
        gap: 5px;
        justify-self: flex-end;
        align-self: flex-end;
        margin: 2% 2% auto auto;

        .manage-box-paging-item{
            flex: 1;
            border: 1px solid var(--background-main);
            padding: 5px;
            transition: all .5s ease-out;
            cursor: pointer;
            display: flex;
            align-items: center;
            &:hover{
                background-color: var(--background-main);
                color: white;
            }
            &:first-child {
                border-top-left-radius: 999px;
                border-bottom-left-radius: 999px;
            }   
            &:last-child {
                border-top-right-radius: 999px;
                border-bottom-right-radius: 999px;
            }   
            &:nth-child(3){
                cursor: default;
                color: var(--background-main);
                    font-weight: bold;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                &:hover{
                    background-color: transparent;
                    color: var(--background-main);
                    font-weight: bold;
                }
            }
        }
        .manage-box-paging-item.disabled{
            background-color: rgb(165, 163, 163);
            color: white;
            &:hover{
                color: white;
                cursor: default;
            }
        }
    }
}
table{
    table-layout: auto;
    overflow-x: auto;
}
tr:hover{
    cursor: pointer;
    background-color: var(--background-main-hover);
    td{
        color: white;
        .btn-table-item{
            color: white;
        }
    }
}
tbody, thead{
    // display: flex;

}
tr{
    width: 100%;
    display: flex;
    // flex-direction: column;
    flex: 1;
    align-items: center;

    th, td{
        flex: 2;
        display: flex;
        gap: 5px;
        text-align: left;
        
        &:first-child{
            flex: 1;
        }
        &:last-child{
            // flex-direction: colum;
            flex-wrap: wrap;
        }
    }
    td{
        height: 50px;
        max-width: 90%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
td{
align-items: center;
text-align: center;
.btn-table-item{
            border: none;
            outline: none;
            color: var(--background-main);
            padding: 10px;
            height: 100%;
            display: flex;
            flex-direction: column;
            width: fit-content;
            justify-self: center;
            align-self: center;
            box-sizing: border-box;
            text-align: center;
            font-size: 1rem;
            transition: all .3s linear;
            &:hover{
                font-weight: bold;
                font-size: 0.9rem;
                box-shadow: 0px 0px 12px 0px gray;
                border-radius: 10px;
                align-items: center;
                justify-content: center;
            }
        }
}

table{
    height: 405px !important;
}

.manage-box-modal{
    width: 50%;
    position: absolute;
    top: -15vh;
    height: 70vh;
    right: 2%;
    background-color: #fff;
    box-shadow: 0px 0px 12px 0px var(--background-main);
    overflow: hidden;
    overflow-y: auto;
    padding: 2% 0px;
    border-radius: 20px;
    .manage-box-modal-title{
        font-weight: bold;
        font-size: 1.5rem;
    }
    .manage-box-modal-closed{
        position: absolute;
        top: 10px;
        right: 2%;
        font-size: 1.5rem;
        border: 1px solid gray;
        color: var(--background-main);
        // padding: 10%;
        width: 40px;
        height: 40px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        text-align: center;
        // transition: all .4s ease infinite;
        cursor: pointer;
        &>p{
            padding: 0;
            margin-top: 10px;
            
        }
        &:hover{
            border: 1px solid var(--background-main);
            
            p{
                
                font-weight: bold;
                animation: large-to-small .5s linear infinite;
            }
        }
    }
    .manage-box-modal-body{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        
        .manage-box-modal-body-control{
            width: 100%;
            display: flex;
            box-shadow: 0px 0px 5px 0px rgb(236, 236, 236);
            gap: 10px;
            &:first-child{
                margin-top: 2%;
            }
            &:last-child{
                box-shadow: none;
                align-items: center;
                justify-content: center;
                // position: absolute;
                // bottom: 2%;
                margin-top: 10px;

            }
            .manage-box-modal-body-control-title{
                width: 150px;
                text-align: left;
                padding: 0px 2%;
                box-sizing: border-box;
            }
            .manage-box-modal-body-control-body{
                flex: 1;
                .manage-box-modal-body-control-body-input{
                    width: 100%;
                    padding: 0px 10px;
                }
            }
           .manage-box-modal-btn{
             width: 100px;
             border: 1px solid var(--background-main);
             padding: 5px;
             color: white;
             font-weight: bold;
             border-radius: 10px;
             box-shadow: 0px 0px 12px 0px rgb(219, 219, 219);
             
             cursor: pointer;
             &:first-child{
                background-color: green;
             }
             &:nth-child(2){
                background-color: orange;
             }
             &:nth-child(3){
                background-color: red;
             }
             &:last-child{
                color: var(--background-main);
             }
           }
           .manage-box-modal-btn.disabled{
            background-color: gray;
            cursor: default;
           }
        }
    }
}

@keyframes large-to-small {
    0%{
        transform: scale(1);
        color: red;
    }
    80%{
        transform: scale(0.5);
        color: yellow;
    }
    100%{
        transform: scale(0);
        color: green;
    }
}