.menu-admin-container{
    background-color: var(--background-main);
    width: 100%;
    // height: 30px;
    display: flex;
    flex-direction: column;
    .menu-user-container{
        width: 100%;
        height: 60px;
        display: flex;
        padding: 10px;
        border-bottom: 1px solid gray;
        box-sizing: border-box;
        align-items: center;
        .menu-user-form{
            width: 100%;
            display: flex;
            flex: 1;
            .menu-user-avatar{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                overflow: hidden;
                .avatar{ 
                    width: 100%;
                    
                }
            }
            .menu-user-title{
                flex: 1;
                display: flex;
                align-items: center;
                padding: 10px;
                color: white;
                font-weight: bold;
                font-size: 1rem;
                a{
                    color: white;
                    font-weight: bold;
                    font-size: 1rem;
                }
            }
        }
        .menu-user-fucntions{
            width: 100px;
            height: 100%;
            a{
                width: 100%;
                height: 100%;
                color: whitesmoke;
                box-shadow: 0xp 0px 12px 0px rgb(204, 204, 204);
                
                height: 100%;
                // display: flex;
                // flex-direction: column;
                // justify-self: center;
                // align-self: center;
                p{
                    transition: all .3s ease-in-out;
                // transform: translateX(100px);
                }
                &:hover p{
                    margin-left: 120%;
                }
                &>p{
                    margin-top: 10px;
                }
            }

        }
    }
    .menu-item{
        color: white;
        font-size: 1rem;
        display: flex;
        padding: 5px 5px 0px 5px;
        a{
            color: white;
            &:hover{
            font-weight: bold;
            cursor: pointer;
        }
        }
        .menu-item-icon {
            margin-right: 10px;
        }
        
    }
}