.product-detail-container{
    width: 100%;
    box-shadow: 0px 0px 5px 0px rgb(230, 229, 229);
    .product-detail-header{
        font-size: 2.5rem;
        font-weight: bold;
    }
    .product-detail-thumbnail{
        width: 30%;
        height: 375px;
    &>img{
        height: 100%;
    }
    }
    .product-price{
        width: 100%;
        font-size: 2rem;
        color: var(--background-main);
        font-weight: bold;
        display: flex;
        margin-left: 1%;

    }
    .product-box{
        width: 100%;
        max-height: 50vh;
        height: auto;
        display: flex;
        overflow: hidden;
        overflow-y: auto;
        padding: 1%;
        box-sizing: border-box;
        .product-detail-video-rate{
            flex: 1;
            overflow: hidden;
            overflow-y: auto;
            .product-detail-video-rate-title{
                 font-weight: bold;
                font-size: 2rem;
            }
        }
        .product-detail-fast-rate{
            flex: 2;
            width: 100%;
            overflow: none;
            overflow-y: scroll;
            .product-detail-fast-rate-title{
                font-weight: bold;
                font-size: 2rem;
            }
            .product-detail-fast-rate-content{
                text-align: left;
                padding: 0px 2%;
            }
        }
        .product-promotion , .product-affilate-link-list{
            flex: 1;
        }
    }
       .product-promotion .lucky-wheel-sterm{
            width: 100%;
            
            .lucky-wheel-sterm-text{
                color: var(--background-main);
                .lucky-wheel-sterm-modal{
                    width: 95%;
                    position: absolute;
                    z-index: 10000;
                    background-color: white;
                    box-shadow: 0px 0px 12px 0px rgb(207, 207, 207);
                    height: 500px;
                    overflow: hidden;
                    overflow-y: auto;
                    .lucky-wheel-sterm-modal-closed{
                        width: 20%;
                        display: flex;
                        position: sticky;
                        top: 10px;
                        left: 70%;
                        background-color: gray;
                        color: white;
                        text-align: center;
                        align-items: center;
                        justify-content: center;
                        font-weight: bold;
                        border-radius: 10px;
                    }
                    .lucky-wheel-sterm-modal-title{
                        font-size: 1.5rem;
                        margin-top: 20px;
                        font-weight: bold;
                    }
                    .lucky-wheel-sterm-modal-content{
                        margin-top: 10px;
                        text-align: left;
                        padding: 0px 10px;
                        box-sizing: border-box;
                        .lucky-wheel-sterm-modal-content-title{
                            font-weight: bold;
                        }
                        .lucky-wheel-sterm-modal-content-body{
                            padding: 0px 5px;
                            box-sizing: border-box;
                        }
                    }
                }
            }
        }
    .product-detail-content-phone{
        width: 100%;
        padding: 2%;
        box-sizing: border-box;
        text-align: left;
        .product-detail-content-title{
            color: rgb(26, 26, 26);
            font-weight: bold;
            font-size: 1.2rem;
        }
        .product-detail-info-list{
            width: 98%;
            display: flex;
            flex-direction: column;
            .product-detail-info-item{
                width: 100%;
                display: flex;
                // background-color: #f1f1f1c5;
                // padding: 10px;
                min-height: 45px;
                height: auto;
                border-bottom: 1px solid rgb(204, 203, 203);

                &:first-child .product-detail-info-item-title{
                    border-top: 1px solid rgb(204, 203, 203);
                    border-top-left-radius: 10px;
                }
                &:last-child .product-detail-info-item-title{
                    border-top: 1px solid rgb(204, 203, 203);
                    border-bottom-left-radius: 10px;
                }
                &:first-child .product-detail-info-item-value{
                    border-top: 1px solid rgb(204, 203, 203);
                    border-top-right-radius: 10px;
                }
                &:last-child .product-detail-info-item-value{
                    // border-top: 1px solid rgb(204, 203, 203);
                    border-bottom-right-radius: 10px;
                }
                &:last-child{
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                }
                    
                .product-detail-info-item-title{
                    width: 20%;
                    background-color: rgb(219, 219, 219);
                    display: flex;
                    align-items: center;
                     padding: 0px 10px;
                     border-left: 1px solid #dadada;
                }
                .product-detail-info-item-value{
                    flex: 1;
                    background-color: #fff;
                    display: flex;
                    align-items: center;
                    padding: 0px 10px;
                    border-right: 1px solid #dadada;
                    padding: 2px;
                    box-sizing: border-box;
                }
            }
        }
    }
    .product-affilate-link-list{
            width: 100%;
            .product-affilate-link-item{
                width: 100%;
                display: flex;
                .product-affilate-link-item-logo{
                    width: 10%;
                    .product-affilate-link-item-img{
                        padding: 6%;
                        box-sizing: border-box;
                        width: 100%;
                    }
                }
                .product-affilate-link-item-title{
                    flex: 1;
                    text-align: left;
                    padding: 0px 10px;
                    display: flex;
                    align-items: center;
                    &:hover{
                        color: var(--background-main);
                    }
                }
            }
        }
}

/* Khi màn hình nhỏ hơn 768px (Điện thoại/Tablet đứng) */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Chuyển từ hàng ngang sang hàng dọc */
  }
  
  .sidebar {
    display: none; /* Ẩn bớt các thành phần không quan trọng */
  }
  
  body {
    font-size: 16px; /* Điều chỉnh cỡ chữ cho dễ đọc */
  }
  .product-box{
    flex-direction: column;
  }
  html{
    font-size: 12px !important;
  }
  td{
    font-size: 1rem !important;
  }
  .product-detail-header{
    font-size: 1.8rem !important;
  }
  .content-container *{
    font-size: 1rem ;
  }
  h1{
    font-size: 2rem !important;
  }
  .product-affilate-link-list{
    margin: 20px auto;
  }
}

